@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Home Page";
}
<h1>Upcoming Gigs</h1>
@using (Html.BeginForm("Search","Gigs"))
{
    <div class="form-group">
        <div id="searchgigs" class="input-group"  >
            <input type="text" name="SearchTerm" id="SearchTerm" class="form-control" placeholder="Search by artist, genre..." />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>

}
<ul class="gigs"style="margin-top:40px;">
    @foreach (var Gig in Model)
    {
        <li>
           <div class="date">
               <div class="month">
                   @Gig.DateTime.ToString("MMM")
               </div>
               <div class="day">
                   @Gig.DateTime.ToString("d ")
               </div>
           </div>
           <div class="details">
               <span class="artist">
                   @Gig.Artist.Name

                  
                   @if (User.Identity.IsAuthenticated)
                   {
                       <button data-user-id="@Gig.ArtistId" class="btn btn-link btn-sm pull-right js-togglle-follow">Follow</button>

                   }
               </span>
               <span class="genre">
                   @Gig.Genre.Name
               </span>
               @if (User.Identity.IsAuthenticated)
               {
                   <button data-gig-id="@Gig.Id" class="btn btn-default btn-sm pull-right js-togglle-attendance">Going ?</button>

               }
           </div>
        </li>
    }
</ul>

@section Scripts{
    
    <script>

        $(document).ready(function () {

            $(".js-togglle-attendance").click(function (e) {
                var button = $(e.target);

                $.post("/api/Attendances", {gigId :button.attr("data-gig-id") })
                    .done(function () {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });


            $(".js-togglle-follow").click(function (e) {
                var button = $(e.target);

                $.post("/api/Following", { FolloweeId: button.attr("data-user-id") })
                    .done(function () {

                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

        });
    </script>
    }


